<!-- Will want to add conditional styling to navbar -->
<h3>Customer Information</h3>

<h5>General</h5>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName"
                           formControlName="firstName"
                           type="text"
                           class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName"
                           formControlName="lastName"
                           type="text"
                           class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input id="dob"
                           formControlName="dob"
                           type="date"
                           class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input id="country"
                           formControlName="country"
                           type="text"
                           class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="streetAddress">Street Address</label>
                    <input id="streetAddress"
                           formControlName="streetAddress"
                           type="text"
                           class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="aptOrSuite">Apt or Suite #</label>
                    <input id="aptOrSuite"
                           formControlName="aptOrSuite"
                           type="text"
                           class="form-control" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="state">State</label>
                    <input id="state"
                           formControlName="state"
                           type="text"
                           class="form-control" required />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="zipCode">5 Digit Zip Code</label>
                    <input id="zipCode"
                           formControlName="zipCode"
                           type="text"
                           class="form-control" required />
                </div>
            </div>
        </div>
        <div class="form-group">
            <app-continue-btn [form]="form"></app-continue-btn>
        </div>  
    </div>
</form>
