.btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F7F7F7;
    color: #022179;
    text-decoration: none;
    font-size: 24px;
}

    .btn-back:hover {
        background-color: #0056b3;
    }
