<h3>Discount Management</h3>

<h5 *ngIf="action == 'edit'" class="card-title">Edit State Discounts</h5>
<h5 *ngIf="action == 'add'" class="card-title">Add State Discounts</h5>

<form [formGroup]="form" *ngIf="discount" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-4">
            <strong>Quotes</strong>
            <div class="form-group">
                <label for="state">State</label>
                <input readonly name="state"
                       type="text"  
                       [(ngModel)]="discount.state" 
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="lowDrivingExperience">Low Driving Experience</label>
                <input id="lowDrivingExperience"
                       formControlName="lowDrivingExperience"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="previousCarrierLizard">Previous Carrier Lizard</label>
                <input id="previousCarrierLizard"
                       formControlName="previousCarrierLizard"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="previousCarrierPervasive">Previous Carrier Pervasive</label>
                <input id="previousCarrierPervasive"
                       formControlName="previousCarrierPervasive"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="recentMovingViolations">Recent Moving Violations</label>
                <input id="recentMovingViolations"
                       formControlName="recentMovingViolations"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="recentClaims">Recent Claims</label>
                <input id="recentClaims"
                       formControlName="recentClaims"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="multiCar">Multi-car</label>
                <input id="multiCar"
                       formControlName="multiCar"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <strong>Vehicles</strong>
            <div class="form-group">
                <label for="daytimeRunningLights">Daytime Running Lights</label>
                <input id="daytimeRunningLights"
                       formControlName="daytimeRunningLights"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
                <div *ngIf="!form.get('daytimeRunningLights').valid && !form.get('daytimeRunningLights').pristine" class="alert alert-danger">
                    Daytime Running Lights is required.
                </div>
            </div>
            <div class="form-group">
                <label for="antilockBrakes">Anti-lock Brakes</label>
                <input id="antilockBrakes"
                       formControlName="antilockBrakes"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="lowAnnualMileage">Low Mileage</label>
                <input id="lowAnnualMileage"
                       formControlName="lowAnnualMileage"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="passiveRestraints">Passive Restraints</label>
                <input id="passiveRestraints"
                       formControlName="passiveRestraints"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="antitheftInstalled">Anti-theft Installed</label>
                <input id="antitheftInstalled"
                       formControlName="antitheftInstalled"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="highDaysDrivenPerWeek">High Days Driven Per Week</label>
                <input id="highDaysDrivenPerWeek"
                       formControlName="highDaysDrivenPerWeek"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="lowMilesDrivenToWork">Low Miles Driven To Work</label>
                <input id="lowMilesDrivenToWork"
                       formControlName="lowMilesDrivenToWork"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="reduceUse">Reduced Use</label>
                <input id="reduceUse"
                       formControlName="reduceUse"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="garageAddressDifferent">Garage Address Different</label>
                <input id="garageAddressDifferent"
                       formControlName="garageAddressDifferent"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <strong>Drivers</strong>
            <div class="form-group">
                <label for="youngDriver">Young Driver</label>
                <input id="youngDriver"
                       formControlName="youngDriver"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
            <div class="form-group">
                <label for="safeDrivingSchool">Safe Driving School</label>
                <input id="safeDrivingSchool"
                       formControlName="safeDrivingSchool"
                       type="number"
                       [attr.step]="stepValue"
                       class="form-control" required />
            </div>
        </div>
    </div>
<div class="form-group">
    <button type="submit"
            [disabled]="!form?.valid"
            class="btn btn-success">
        Save
    </button> &nbsp;
    <button type="button"
            routerLink="/discounts"
            class="btn btn-warning">
        Cancel
    </button>
</div>
</form>